/**Created by BJ Rutledg 
 * 12/03/2022
 * Licence Apache 
 */



/* make the 'in transition class blink*/

.in-transition{
    animation: blink-animation 1s steps(5, start) none infinite;
}

@keyframes blink-animation {
    to{
        visibility: hidden;
    }
}

.section-title h4{
    font-size: 40px;
}

i.muted {
    font-size: 40px;
}
